<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="~{/views/admin/layout/index::dynamic(~{::view})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div th:fragment="view" class="row" ng-controller="OrderDetails-ctrl">
		<div th:objects="${order}">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Product name</th>
						<th scope="col">Image</th>
						<th scope="col">Quantity</th>
						<th scope="col">Price</th>
						<th scope="col">Into money</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${order.orderDetail}">
						<th scope="row">[[${item.product.name}]]</th>
						<td><img style="max-width: 60px;" th:src="@{|/assets/images/${item.product.image}|}"></td>
						<td>[[${item.quantity}]]</td>
						<td>[[*{#numbers.formatDecimal(item.price,0,'COMMA',0,'POINT')}]]
							VND</td>
						<td>[[*{#numbers.formatDecimal(item.price *
							item.quantity,0,'COMMA',0,'POINT')}]] VND</td>
					</tr>
				</tbody>
			</table>
			<div>
				<p>Phone number: [[${order.phoneNumber}]]</p>
				<p>Address: [[${order.address}]]</p>
				<p>Total money: [[*{#numbers.formatDecimal(order.totalMoney,0,'COMMA',0,'POINT')}]] VND</p>
			</div>
			<div class="text-center" th:if="${order.status == 1}">
				<button th:attr="ng-click=@{|xacNhanDonHang(*{id})|}" class="btn btn-warning my-3">Xác nhận đơn
					hàng</button>
			</div>
		</div>
	</div>
</body>

</html>