<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="~{/views/layout/index::dynamic(~{::view})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div th:fragment="view">
		<div th:fragment="shopping-cart" class="row">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Image</th>
						<th scope="col">Quantity</th>
						<th scope="col">Price</th>
						<th scope="col">Into money</th>
						<th scope="col">Control</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in cart.items">
						<th scope="row">{{item.name}}</th>
						<td><img src="/assets/images/{{item.image}}" alt="iamge" style="max-width: 60px;"></td>
						<td><input style="max-width: 80px;" class="form-control" type="number" ng-model="item.qty"
								ng-change="cart.saveToLocalStorage()"></td>
						<td>{{item.price | currency : value="" : 0}} VND</td>
						<td>{{item.price*item.qty | currency : value="" : 0}} VND</td>
						<td><button class="btn btn-warning" ng-click="cart.remove(item.id)">Delete</button></td>
					</tr>
				</tbody>
			</table>
			<div class="mt-3">
				<p>Tổng tiền: {{cart.amount | currency : value="" : 0}} VND</p>
				<button class="btn btn-warning my-3" ng-click="cart.clear()">Clear</button>
				<a th:href="@{/order/check-out}" class="btn btn-warning">Check out</a>
			</div>
		</div>
	</div>
</body>

</html>