<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="~{/views/layout/index::dynamic(~{::view})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div th:fragment="view" class="row">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Image</th>
					<th scope="col">Quantity</th>
					<th scope="col">Price</th>
					<th scope="col">Into money</th>
					<th scope="col">Control</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in cart.items">
					<th scope="row">{{item.name}}</th>
					<td><img src="/assets/images/{{item.image}}" alt="iamge" style="max-width: 60px;"></td>
					<td><input style="max-width: 80px;" class="form-control" type="number" ng-model="item.qty"
							ng-change="cart.saveToLocalStorage()"></td>
					<td>{{item.price}} VND</td>
					<td>{{item.price*item.qty}} VND</td>
					<td><button class="btn btn-warning" ng-click="cart.remove(item.id)">Delete</button></td>
				</tr>
			</tbody>
		</table>
		<div class="mt-3">
			<button class="btn btn-warning" ng-click="cart.clear()">Clear</button>
		</div>
		<form action="">
			<div>
				<label for="address">Address</label>
				<input class="form-control mb-3" type="text" id="address" required>
			</div>
			<div>
				<label for="phoneNumber">Phone number</label>
				<input class="form-control mb-3" type="text" id="phoneNumber" required>
			</div>
			<p>Tổng tiền: {{cart.amount}} VND</p>
			<div class="text-center mt-3">
				<Button class="btn btn-warning">Check out</Button>
			</div>
		</form>
	</div>
</body>

</html>