<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="~{/views/layout/index::dynamic(~{::view})}">

<head>
  <meta charset="UTF-8" />
  <title>Insert title here</title>
</head>

<body>
  <div th:fragment="view">
    <div th:object="${product}">
      <div class="row">
        <aside th:insert="~{/views/layout/category ::listCate}" class="col-md-3"></aside>
        <div class="col-md-9 row my-3">
          <div class="border border-dark col-md-6 m-auto p-3" style="width: 18rem">
            <img th:src="@{|/assets/images/*{image}|}" width="100%" alt="[[*{name}]]" />
          </div>
          <div class="col-md-6 m-auto">
            <p>[[*{name}]]</p>
            <p>Số lượng còn lại: [[*{quantity}]]</p>
            <form action="">
              <label class="d-inline">Số lượng:</label>
              <input class="form-control d-inline" min="1" type="number" ng-model="quantity" required />
              <p>
                Giá sản phẩm: [[*{#numbers.formatDecimal(price, 0, 'COMMA', 0,
                'POINT')}]] VND
              </p>
            </form>
            <a th:attr="ng-click=@{|cart.add(*{id})|}" class="btn btn-warning d-flex justify-content-center m-auto">Thêm
              vào rỏ hàng</a>
          </div>
          <p>Id cate:[[*{category.product}]]</p>

        </div>
      </div>
      <div class="row product">
        <div class="my-3 text-center">
          <h3 class="m-0">Sản phẩm tương tự</h3>
        </div>
        <div th:each="prd : *{category.product}" th:if="${prd.status == 1}" class="card col-md-4 m-auto my-3 p-2"
          style="width: 18rem">
          <a th:href="@{|/product/${prd.id}|}">
            <img th:src="@{|/assets/images/${prd.image}|}" class="card-img-top" alt="[[${prd.name}]]" />
          </a>
          <div class="card-body text-center">
            <h5 class="card-title">[[${prd.name}]]</h5>
            <p class="card-text">
              [[${#numbers.formatDecimal(prd.price, 0, 'COMMA', 0, 'POINT')}]]
              VND
            </p>
            <a th:href="@{|/product/${prd.id}|}" class="btn btn-warning d-flex justify-content-center">Mua ngay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>