<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div th:fragment="changePasswordFrm" ng-controller="account-ctrl">
		<!-- Đổi mật khẩu -->
		<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							CHANGE PASSWORD
						</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form name="formChangePassword">
							<label for="password" class="mt-2">Mật khẩu hiện tại</label>
							<input type="password" class="form-control" id="password" name="password"
								placeholder="Mật khẩu" ng-model="changePassword.password1" required /><small
								class="text-danger d-block"
								ng-hide="formChangePassword.password.$untouched || formChangePassword.password.$valid">Vui
								lòng nhập mật khẩu hiện tại</small>
							<label for="password2" class="mt-2">Mật khẩu mới</label>
							<input type="password" class="form-control" id="password2" name="password2"
								placeholder="Mật khẩu" ng-model="changePassword.password2" required /><small
								class="text-danger d-block"
								ng-hide="formChangePassword.password2.$untouched || formChangePassword.password2.$valid">Vui
								lòng nhập mật khẩu mới</small>
							<label for="password3" class="mt-2">Xác nhận mật khẩu mới</label>
							<input type="password" id="password3" name="password3" class="form-control"
								placeholder="Tài khoản" ng-model="changePassword.password3" required />
							<small class="text-danger d-block"
								ng-hide="formChangePassword.password3.$untouched || formChangePassword.password3.$valid">Vui
								lòng xác nhận mật khẩu mới</small>
							<div class="text-center">
								<button ng-click="changePassword()" class="btn btn-secondary my-2">
									OK
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>