<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	th:replace="~{/views/layout/index::dynamic(~{::view})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div th:fragment="view" class="row">
		<div th:replace="~{/views/main/cart::shopping-cart}"></div>
		<form>
			<div class="row text-center">
				<div class="col-md-6 col-12">
					<label>username</label>
					<div class="form-control" id="username">[[${#authentication.name}]]</div>
				</div>
				<div class="col-md-6 col-12">
					<label>createDate</label>
					<div class="form-control">{{order.createDate |
						date:'dd-MM-yyyy'}}</div>
				</div>
			</div>
			<div>
				<label for="address">Address</label> <input
					class="form-control mb-3 text-center" type="text"
					ng-model="order.address" required>
			</div>
			<div>
				<label for="phoneNumber">Phone number</label> <input
					class="form-control mb-3 text-center" type="text"
					ng-model="order.phoneNumber" required>
			</div>
			<p>Tổng tiền: {{cart.amount}} VND</p>
			<div class="text-center my-3">
				<button ng-click=order.purchase() class="btn btn-warning">Order
					now</button>
			</div>
		</form>
	</div>
</body>

</html>